html, body {
    height: 100%;
    margin: 0;
}

.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.my-form {
    text-align: center;
    padding: 20px;
    border-radius: 25px;
    background-color: #7EA3D5;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    width: 300px;
    
}

.main{
    text-align: left;
}

.group{
    margin: 25px 0;
    font-size: 30px;
}

.input-style{
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 290px;
}

         
.btn-grad {
    background-image: linear-gradient(to right, #3CA55C 0%, #B5AC49  51%, #3CA55C  100%);
    margin: 10px auto;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }
 